<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome</title>
    <style>
        img, h1, form {text-align: center}
        .center {display: block; margin-left: auto; margin-right: auto; width: 50%;}
    </style>
</head>
<body>
    <form action="http://localhost:5000/hasil" method="POST"> 
        <input name="nama1" type="text" placeholder="Pokemon 1" style="border-radius: 5px; padding: 5px"/><br><br>
        <p><img src="https://library.kissclipart.com/20181120/hie/kissclipart-vs-sign-clipart-logo-symbol-11c89c8676fcaa80.png" width="100" height="100"</p><br><br>
        <input name="nama2" type="text" placeholder="Pokemon 2" style="border-radius: 5px; padding: 5px"/><br><br>
        <button>Battle!</button>          
    </form>    

</body>
</html>